#how-it-works{
    padding: 20px 40px 60px 40px;
    margin: 80px auto;
    border-radius: 10px;
}


#how-it-works h2{
    font-size: 32px;
    font-weight: bold;
}

#how-it-works h3{
    font-size: 22px;
    font-weight: 600;
}

#how-it-works li{
    list-style-type: disc;
}

#how-it-works ul.collapsible li{
    list-style-type: none !important;
}