@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,900&display=swap');

body{
    overflow-x: hidden;
}

#game-index{
    background-color: #060D2B;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    /* padding-top: 45px; */
}

#game-index > div{
    margin-bottom: 20px;
    width: 400px;
}

#game-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-header h2{
    font-size: 45px;
    color: white;
    text-transform: capitalize;
    font-weight: 900;
    font-family: 'Rubik', sans-serif;
}

#game-header img{
    width: 60px;
    height: 60px;
    margin-left: 20px;
}

.index-button{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: #ffffff;
    height: 70px;
    border-radius: 40px;
    padding: 5px;
    transition: .2s background ease-in;
}

.index-button:hover{
    cursor: pointer;
    background: #aaa;
}

.index-button:hover p{
    color: white;
}

.index-button > i{
    font-size: 24px;
    color: white;
    text-align: center;
}

.index-button p{
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    font-size: 24px;
    color: #060D2B;
    text-transform: capitalize;
    margin-left: 25px;
}

.index-button .index-icon{
    width: 60px;
    padding: 18px 0px;
    display: block;
    border-radius: 50%;
    text-align: center;
}
